/* Poppins 400 */
/* Poppins 500 */
/* Poppins 600 */
:root {
  --primary-section-color: #000000;
  --primary-paragraph-color: #8f95a5;
  --btn-text-color: #ffffff;
  --nav-text-color: #263238;
  --default-line-height: 1.5;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--primary-paragraph-color);
  font-size: 16px;
}
.list {
  list-style: none;
}

.container {
  margin: 0 auto;
  width: 1378px;
  padding-left: 20px;
  padding-right: 20px;
  outline: 2px solid tomato;
}

/* Section Header */
.header {
  /* align-items: center; */
}

.header-nav {
  display: flex;
  align-items: center;
}
.header-logo,
.footer-logo {
  margin-right: 236px;
  padding-top: 63px;
  padding-bottom: 63px;
  font-size: 36px;
  line-height: var(--default-line-height);
  color: var(--primary-section-color);
  text-decoration: none;
}
.header-logo-decoration,
.footer-logo-decoration {
  color: #939393;
}

.header-container {
  display: flex;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-list-link {
  padding-top: 75px;
  padding-bottom: 75px;
}

.header-list-item {
  font-weight: 500;
  font-size: 20px;
  line-height: var(--default-line-height);
  color: var(--nav-text-color);
  text-decoration: none;
}
.header-button {
  padding: 20px 56px;
  min-width: 312px;
  border: 2px solid var(--nav-text-color);
  border-radius: 10px;
  font-family: inherit;
  font-size: 20px;
  line-height: var(--default-line-height);
  letter-spacing: 0.03em;
  color: var(--primary-section-color);
}

.header-btn {
  margin-left: auto;
  /* padding-top: 55px; */
}

/* --------Section Hero-------- */

.hero-content {
  display: flex;
  gap: 144px;
}

.left-content {
  display: flex;
  align-items: center;

  width: 540px;
}

.hero {
  padding-top: 55px;
  padding-bottom: 90px;
}
.hero-title {
  margin-right: 34px;
  margin-bottom: 40px;
  max-width: 386px;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.25;
  color: var(--primary-section-color);
}
.hero-text {
  margin-bottom: 60px;
  max-width: 500px;
  font-size: 24px;
  line-height: var(--default-line-height);
}

/* !!!Change to flex-basis!!! */
.img-container {
  width: 654px;
}

.hero-button {
  padding: 23px 64px;

  background: var(--nav-text-color);
  border-radius: 10px;
  font-family: inherit;
  font-size: 36px;
  line-height: var(--default-line-height);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--btn-text-color);
  cursor: pointer;
}

/* Section Skills */
.skills {
  padding-top: 90px;
  padding-bottom: 90px;
}
.skills-title {
  font-weight: 600;
  font-size: 48px;
  line-height: var(--default-line-height);
  color: var(--primary-section-color);
}
.skills-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.skills-list-speaking {
  grid-area: 1 / 1 / 3 / 2;
}

.skills-list-writing {
  grid-area: 1 / 2 / 2 / 3;
}

.skills-list-reading {
  grid-area: 1 / 3 / 2 / 4;
}

.skills-list-listening {
  display: flex;
  flex-direction: row-reverse;
  grid-area: 2 / 2 / 3 / 4;
}

.skills-item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: var(--default-line-height);
  color: var(--nav-text-color);
}
.skills-item-text {
  line-height: var(--default-line-height);
}
.skills-item-button {
  background: var(--nav-text-color);
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: var(--default-line-height);
  color: var(--btn-text-color);
}

/* Section About us */
.about {
  padding-top: 90px;
  padding-bottom: 90px;
}
.about-title {
  font-weight: 600;
  font-size: 48px;
  line-height: var(--default-line-height);
  color: var(--primary-section-color);
}
.about-text {
  font-size: 20px;
  line-height: 1.8;
}
.about-list {
}
.about-list-decoration {
  font-size: 48px;
  font-weight: 600;
  line-height: var(--default-line-height);
  color: #2a3246;
}
.about-list-text {
  font-size: 20px;
  line-height: var(--default-line-height);
}

/* Section pricing */
.pricing {
  padding-top: 90px;
  padding-bottom: 90px;
}
.pricing-title {
  font-weight: 600;
  font-size: 48px;
  line-height: var(--default-line-height);
  color: var(--primary-section-color);
}
.pricing-list {
}

.pricing-item-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 1.6;
  text-transform: capitalize;
  color: var(--nav-text-color);
}
.pricing-item-text {
  font-size: 20px;
  line-height: var(--default-line-height);
}
.pricing-value-text {
  font-size: 18px;
  line-height: var(--default-line-height);
  color: #546269;
}
.pricing-value {
  font-size: 24px;
  color: var(--nav-text-color);
  line-height: var(--default-line-height);
}

/* Section Contact us */
.contact {
  padding-top: 90px;
  padding-bottom: 55px;
}
.contact-title {
  font-weight: 600;
  font-size: 48px;
  line-height: var(--default-line-height);
  color: var(--primary-section-color);
}
.contact-text {
  font-size: 20px;
  line-height: var(--default-line-height);
}

/* Section footer */
.footer {
}
.footer-item {
  text-decoration: none;
  font-size: 24px;
  line-height: var(--default-line-height);
  letter-spacing: 0.02em;
  color: inherit;
}
